@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700;900&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
} */ 

body{
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

.content{
  color: #000000;
  display: flex;
  /* border: 3px solid yellow; */
  justify-content: center; 
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  
}
.content.show{
  height: auto;
  /* border: 3px solid red; */
  max-height: 9990px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}

.dropdown{
  list-style: none;
  background: rgb(164,191,219);
background: linear-gradient(240deg, rgba(164,191,219,1) 38%, rgba(164,208,219,1) 47%, rgba(238,234,231,1) 230%);
  width: 180px;
  height: auto;
  margin: 20px;
  font-weight: 500;
  border: 2px solid rgb(86, 84, 88);
  border-radius: 18px;
  text-align: center;
  padding: 3px;
}

.contain_progress{
  /* border: 1px solid rgba(66, 165, 252, 0.75); */
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  border-radius: 12px;
  gap: 6px;
  font-size: 18px;
  font-weight: 500;
  background: rgb(164,191,219);
background: linear-gradient(240deg, rgba(164,191,219,1) 38%, rgba(164,208,219,1) 47%, rgba(238,234,231,1) 66%);
}

.pokedex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  width: 100%;
  background: rgb(244,244,249);
background: linear-gradient(120deg, rgba(244,244,249,1) 33%, rgba(227,227,239,1) 70%);
}

.list-poke{
  /* background-color:rgb(220, 92, 7); */
 border-radius: 70px;
 width: 1200px; 
 display: inline-flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 10px;
 background: rgb(221,92,22);
background: linear-gradient(280deg, rgba(221,92,22,1) 40%, rgb(50, 47, 45) 60%);
/* background: rgb(221,92,22);
bac kground: linear-gradient(107deg, rgba(221,92,22,1) 26%, rgba(216,230,49,1) 66%); */
 /* height: 50px;

  display: flex;
  align-items: center; */
  
}

.input_searching{
  width: 70%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.count{
  background-color: rgb(17, 16, 14);
  color: rgb(236, 244, 244);
  width: 100%;
  text-align: center;
  font-size: 20px;
  border-radius: 70px;
  padding: 5px;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
}

.cover-details{
  width: 100%;
  display: flex;
  border: 2px solid gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(200deg, rgb(255, 255, 170) 20%, rgba(221,92,22,1) 80%);
}

.hero_stats{
  display: flex;
  width: 500px;
  min-width: 500px;
  max-width: 100%;
  justify-content:center;
  align-items: flex-start;

}

.cover{
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 background: rgb(251,237,17);
 background: linear-gradient(193deg, rgba(251,237,17,1) 14%, rgba(252,219,11,1) 42%, rgba(255,94,0,1) 55%);
  width: 100%;
  height: 100%;
}

.get-name{
  margin-top: 30px;
  display: flex;
  width: 380px;
  justify-content: space-around;
  align-items: center;
}

.putyouname{
  -webkit-box-shadow: 1px 17px 41px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 17px 41px 7px rgba(0,0,0,0.75);
  box-shadow: 1px 17px 41px 7px rgba(0,0,0,0.75);
}


.pokecards{
  width: min-content;
  margin-top: 50px;
  /* border: 3px solid yellow; */
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  margin-left: -15px;
  gap: 30px;
}

.cards{
  display: flex;
  font-size: 17px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
position: relative;
  z-index: 0;
  padding: 15px;
  width: 250px;
  border: none;
  /* background-image: linear-gradient(rgb(248, 241, 241), rgba(255, 255, 255, 0.8)); */
  color: black;
 background-color: whitesmoke;
 box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.wallpaper {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('../src/assets/wallpaper.webp') no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-set{
  width: 0;
  height: 0;
  border-top: 70px solid rgba(227,227,239,1);
  border-right: 70px solid transparent;
  border-left: 0;
  rotate: 226deg;

}

button{
  cursor: pointer;
}

.pokename{
  display: flex;
  flex-direction: row;
  /* border: 1px solid springgreen; */
  background-color: da;
  width: 300px;
  justify-content: space-around;
}

.sprites-card{
  height: 130px;
  width: 130px;
  background: url('./assets/coverball.png') no-repeat center;
  background-size: cover;
  border-radius: 50%;
  object-fit: contain;
}

.data-set-poke{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poketraineer{
  width: 480px;
  height: 320px;
  display: flex;
  position: relative;
}

.info_detail_table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  align-items: center;
  width: 100%;
  /* border: 3px solid springgreen; */

}

.types{
  
  border: 1px solid rgb(231, 231, 231);
  border-radius: 50%;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 85px;
  height: 55px;
}

/* .types.table {
  width: 0;
  height: 0;
  background-color: none;
} */

.detail-triangle-left{
  width: 0;
  height: 0;
  border-top: 70px solid rgb(42, 38, 38);
  border-right: 70px solid transparent;
  border-left: 0;
}

.detail-triangle-right{
  width: 0;
  height: 0;
  border-bottom: 70px solid black;
  border-left: 70px solid transparent;
  border-right: 0;
}

.abilities-table{
  
  width: 500px;
  height: 100%;
 
}